<div class="my-3">
    <h3>Add Todo</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" >
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" [(ngModel)]="desc" name="desc" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
    </form>

</div>